<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Index.css">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="content">
            <h1>Random Code Generator (generated #@ViewBag.Count times.)</h1>

            <h1>@ViewBag.generatedCode</h1>
            <br>
            <input type="button" onclick="location.href='/';" value="Generate">
            <br><br>
            <input type="button" onclick="location.href='/reset';" value="Reset Session">            
        </div>

    </div>



</body>
</html>